* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main {
  padding: 36px;
}

.header {
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.header--img {
  width: 32px;
  height: 28px;
  margin: 20px 5px 20px 15px;
}

.header-title {
  color: #FFF;
  font-family: Karla;
  font-size: 20.748px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2.075px;
}

.meme {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meme--form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.meme--input {
  width: 230px;
  height: 35px;
  margin: 20px;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.meme--button {
  width: 70%;
  height: 40px;
  grid-column: 1 / -1;
  border-radius: 5px;
  margin: 15px;
  font-family: "Karla", sans-serif;
  background: linear-gradient(90deg, #711F8D 1.14%, #A818DA 100%);
  border: none;
  cursor: pointer;
}

.meme--img {
  border-radius: 2px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}