* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background: #0B2434;
  display: flex;
  padding: 20px;
  font-family: "Karla", sans-serif;
}

.game-name {
  font-size: 40px;
  margin: 0;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 0;
  text-align: center;
  color: #4A4E74;
}

.roll-info {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 0;
  text-align: center;
  color: #4A4E74;
}

.main-card {
  width: 500px;
  height: 500px;
  padding: 35px;
  border-radius: 10px;
  background: #F5F5F5;
}

.game-card {
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.info {
  height: 35%;
}

.dices {
  width: 100%;
  height: 40%;
  display: grid;
  gap: 25px;
  grid-template: auto auto / repeat(5, 1fr);
}

.dice {
  width: 50px;
  height: 50px;
  margin: 2.5px;
  font-size: 21px;
  font-family: Karla;
  font-weight: 700;
  word-wrap: break-word;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #2B283A;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  cursor: pointer;
}

.die-value {
  font-size: 2rem;
}

.button-area {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border-style: none;
  width: 30%;
  height: 35%;
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  font-family: "Karla", sans-serif;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  background: #5035FF;
  color: white;
}

.button:focus {
  outline: none;
}

.button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);;
}